.destination{
    border-top: 0.5px solid rgb(212, 203, 203);
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height:85vh;
    margin: 1% 5% 5% 5%;
}
.location{
    width: 35%;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.map > div > div{
    width: 85% !important;
    height: 100%;
    padding-bottom: 50px;
    margin: 10px 7px;
}
.set-location{
    width: 100%;
    height: 100%;
    margin: 0px 15px 15px 15px;
}
.get-location {
    background: #EFEFEF;
    width: 100%;
    margin: 20px 15px 15px 15px;
    padding: 15px;
}


.map img{
    width: 100%;
    height: 100%;
}
.set-location form{
    background: #EFEFEF;
    width: 100%;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
}
.set-location form label{
    font-weight: bold;
    color: gray;
}
.set-location form input{
    outline: 0;
    border: none;
    background: white;
    width: 90%;
    height: 40px;
    border-radius: 3px;
    padding-left: 15px;
}
.set-location form input:focus{
    box-shadow: 0px 0px 7px rgba(231, 117, 11, 0.5);
}
.set-location .btn{
    width: 90%;
    border: 2px solid transparent;
    background: tomato;
    padding: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.set-location .btn:hover{
    border: 2px solid tomato;
    color: tomato;
    background: transparent;
}
input[type="text"]::placeholder{
    font-weight: normal;
    color: rgb(165, 156, 156);
    font-weight: 14px;
}












.location-info{
    width: 100%;
    height: 120px;
    background: tomato;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.location-info h2{
    font-size: 22px;
    line-height: 30px;
}

.pricing{
    margin: 15px 0;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 10px;
}
.pricing-info{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}
.pricing-info img{
    width: 55px;
    height: 45px;
}
.pricing-text{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 26px;
}





@media (max-width: 950px){
    .location{
        width: 100%;
    }
    .set-location,
    .get-location{
        width: 550px;
    }
    .map{
        width: 100%;
    }
}

@media (max-width: 420px){
    h3{
        font-size: 1rem !important;
    }
    .location{
        width: 100%;
    }
    .map{
        width: 100%;
    }
    .set-location,
    .get-location{
        width: 80%;
        margin: 10%;
    }
    .pricing{
        height: 70px;
    }
    .pricing-info img{
        width: 35px;
        height: 30px;
    }
    .pricing-text{
        width: 100%;
    }
    .logo{
        font-size: 17px;
    }
}